include requirements.json
include mbapy/storage/libfile.dll
include mbapy/storage/libfile.so
include mbapy/storage/libstats.dll
include mbapy/storage/libstats.so
include mbapy/storage/libsci.dll
include mbapy/storage/libsci.so
include mbapy/storage/mbapy-cli-scripts-list.json
include mbapy/storage/icons/scripts-hplc-peak.png