beautifulsoup4
chardet
# cn2an
imageio
Markdown
matplotlib
numpy
pandas
pdfkit>=1.0.0
Pillow
requests
scikit-learn
scipy
seaborn
selenium
urllib3
openpyxl
statsmodels
scikit_posthocs
rispy
PyPDF2
lxml
crossref_commons
wget